.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls{
  width: 75%;
}